# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd, re
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [2]:
# Read in the data here
fname = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
df = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1")

In [3]:
df.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,NaN,NaN,...,U,NaN,1979.0,10282016,NaN,NaN,NaN,1.897628e+09,NaN,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,NaN,1991.0,D/S,M,NaN,NaN,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,NaN,M,1961.0,09302016,M,NaN,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,1988.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,2012.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2

In [4]:
# Read in the temperature data into Pandas for exploration
fname = '../../data2/GlobalLandTemperaturesByCity.csv'
df = pd.read_csv(fname, sep=',')

In [5]:
# Display first few entries of temperature data
df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Ã…rhus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Ã…rhus,Denmark,57.05N,10.33E

In [6]:
	
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()
df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [7]:
#write to parquet
df_spark.write.parquet("sas_data")
df_spark=spark.read.parquet("sas_data")

In [8]:
df_spark.show()

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|5748517.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     CA|20582.0|  40.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1976.0|10292016|     F|  null|     QF|9.495387003E10|00011|      B1|
|5748518.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     NV|20591.0|  32.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1984.0|10292016|     F|  null|     VA|9.495562283E10|00007|      B1|
|5748519.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20582.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     M|  null|     DL|9.495640653E10|00040|      B1|
|5748520.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  29.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1987.0|10292016|     F|  null|     DL|9.495645143E10|00040|      B1|
|5748521.0|2016.0|   4.0| 245.0| 438.0|    LOS|20574.0|    1.0|     WA|20588.0|  28.0|    1.0|  1.0|20160430|     SYD| null|      G|      O|   null|      M| 1988.0|10292016|     M|  null|     DL|9.495638813E10|00040|      B1|
|5748522.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20579.0|  57.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1959.0|10292016|     M|  null|     NZ|9.498180283E10|00010|      B2|
|5748523.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20586.0|  66.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1950.0|10292016|     F|  null|     NZ|9.497968993E10|00010|      B2|
|5748524.0|2016.0|   4.0| 245.0| 464.0|    HHW|20574.0|    1.0|     HI|20586.0|  41.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1975.0|10292016|     F|  null|     NZ|9.497974673E10|00010|      B2|
|5748525.0|2016.0|   4.0| 245.0| 464.0|    HOU|20574.0|    1.0|     FL|20581.0|  27.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1989.0|10292016|     M|  null|     NZ|9.497324663E10|00028|      B2|
|5748526.0|2016.0|   4.0| 245.0| 464.0|    LOS|20574.0|    1.0|     CA|20581.0|  26.0|    2.0|  1.0|20160430|     ACK| null|      G|      O|   null|      M| 1990.0|10292016|     F|  null|     NZ|9.501354793E10|00002|      B2|
|5748527.0|2016.0|   4.0| 245.0| 504.0|    NEW|20574.0|    1.0|     MA|20576.0|  44.0|    2.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1972.0|10292016|     M|  null|     UA|9.493828593E10|01215|      B2|
|5748528.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|   null|20575.0|  39.0|    2.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1977.0|10292016|     M|  null|     CM|9.501810463E10|00472|      B2|
|5748529.0|2016.0|   4.0| 245.0| 504.0|    WAS|20574.0|    1.0|     VA|20596.0|  38.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1978.0|10292016|     M|  null|     CM|9.492489983E10|00488|      B2|
|5748530.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|     CA|20577.0|  56.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1960.0|10292016|     F|  null|     CM|9.492648103E10|00302|      B2|
|5748531.0|2016.0|   4.0| 245.0| 504.0|    LOS|20574.0|    1.0|     CA|20577.0|  38.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1978.0|10282016|     M|  null|     CM|9.492629303E10|00302|      B2|
|5748532.0|2016.0|   4.0| 245.0| 504.0|    MIA|20574.0|    1.0|     FL|20581.0|  53.0|    2.0|  1.0|20160430|     PNM| null|      G|      O|   null|      M| 1963.0|10292016|     F|  null|     CM|9.500640513E10|00430|      B2|
|5748534.0|2016.0|   4.0| 245.0| 528.0|    SFR|20574.0|    1.0|     CA|   null|  84.0|    2.0|  1.0|20160430|     HNK| null|      G|   null|   null|   null| 1932.0|10282016|     F|  null|     CX|9.492476223E10|00872|      B2|
|5748876.0|2016.0|   4.0| 245.0| 582.0|    HOU|20574.0|    1.0|     TX|20583.0|  43.0|    1.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1973.0|10292016|     M|  null|     UA|9.499463063E10|05574|      B1|
|5748877.0|2016.0|   4.0| 245.0| 582.0|    HOU|20574.0|    1.0|     TX|20583.0|  30.0|    1.0|  1.0|20160430|     GUZ| null|      G|      O|   null|      M| 1986.0|10292016|     F|  null|     UA|9.499447663E10|05574|      B1|
|5748881.0|2016.0|   4.0| 245.0| 582.0|    LOS|20574.0|    1.0|     CA|20575.0|  34.0|    2.0|  1.0|20160430|     SHG| null|      G|      O|   null|      M| 1982.0|10292016|     M|  null|     AM|9.496770903E10|00646|      B2|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 20 rows

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [9]:
# Clean I94 immigration data
import csv
# Create dictionary of valid i94port codes
i94port_valid_dict = {}

with open('valid_i94_port.csv', mode='r') as infile:
    reader = csv.reader(infile)
    i94port_valid_dict = {rows[0]:rows[1] for rows in reader}

    
i94city_valid_dict = {}

with open('i94_vaid_cities.csv', mode='r') as infile:
    reader = csv.reader(infile)
    i94city_valid_dict = {rows[0]:rows[1] for rows in reader}

# Filter out entries where i94port is invalid
df_clean_spark_i94 = df_spark.filter(df_spark.i94port.isin(list(i94port_valid_dict.keys())))


# Filter out entries where i94res is invalid
from pyspark.sql.types import IntegerType
df_clean_spark_i94 = df_clean_spark_i94.withColumn("i94res", df_clean_spark_i94["i94res"].cast(IntegerType()))
df_clean_spark_i94 = df_clean_spark_i94.filter(df_clean_spark_i94.i94res.isin(list(i94city_valid_dict.keys())))


# Filter out entries where I94address is not clearly called out, as it would create anamolies in state wise analytics
df_clean_spark_i94=df_clean_spark_i94[df_clean_spark_i94['i94addr']!=99]


# Filter out entries where I94MODE is not reported
df_clean_spark_i94=df_clean_spark_i94[df_clean_spark_i94['i94mode']!=9]


# Filter out entries where I94VISA,visatype and ftlno are Null
df_clean_spark_i94=df_clean_spark_i94.filter((df_clean_spark_i94.i94visa != 'NaN') &(df_clean_spark_i94.fltno != 'NaN')& (df_clean_spark_i94.visatype != 'NaN'))

# Show dataframe
df_clean_spark_i94.show()

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|         admnum|fltno|visatype|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
|5817117.0|2016.0|   4.0| 582.0|   582|    HOU|20574.0|    1.0|      0|20575.0|  52.0|    2.0|  1.0|20160430|    null| null|      K|      O|   null|      M| 1964.0|10302016|     M|  null|     UA| 9.496104673E10|00428|      B2|
| 460015.0|2016.0|   4.0| 135.0|   135|    ATL|20547.0|    1.0|     71|20568.0|  34.0|    2.0|  1.0|20160403|    null| null|      O|      O|   null|      M| 1982.0|07012016|  null|  null|     VS|5.5552866533E10|00109|      WT|
| 472601.0|2016.0|   4.0| 135.0|   135|    SFR|20547.0|    1.0|     33|20553.0|  37.0|    1.0|  1.0|20160403|    null| null|      O|      O|   null|      M| 1979.0|07012016|  null|  null|     VS|5.5566831033E10|00019|      WB|
| 636370.0|2016.0|   4.0| 111.0|   111|    CHI|20548.0|    1.0|      0|20550.0|  47.0|    1.0|  1.0|20160404|    null| null|      O|      O|   null|      M| 1969.0|07022016|  null|  null|     UA|5.5601108933E10|00986|      WB|
| 658149.0|2016.0|   4.0| 135.0|   135|    WAS|20548.0|    1.0|      0|20552.0|  50.0|    1.0|  1.0|20160404|    null| null|      O|      O|   null|      M| 1966.0|07022016|  null|  null|     UA|5.5614471033E10|00919|      WB|
| 671804.0|2016.0|   4.0| 148.0|   135|    ATL|20548.0|    1.0|     30|20551.0|  62.0|    1.0|  1.0|20160404|    null| null|      O|      O|   null|      M| 1954.0|07022016|  null|  null|     VS|5.5605698633E10|00109|      WB|
| 677010.0|2016.0|   4.0| 148.0|   112|    CHI|20548.0|    1.0|      0|20552.0|  47.0|    1.0|  1.0|20160404|    null| null|      O|      O|   null|      M| 1969.0|07022016|  null|  null|     UA|5.5616218233E10|00953|      WB|
| 687581.0|2016.0|   4.0| 213.0|   213|    NYC|20548.0|    1.0|     10|20549.0|  19.0|    2.0|  1.0|20160404|    null| null|      O|      I|   null|      M| 1997.0|10032016|  null|  null|     VS| 9.277007403E10|00025|      B2|
| 752314.0|2016.0|   4.0| 582.0|   582|    HOU|20548.0|    1.0|      0|20551.0|  46.0|    1.0|  1.0|20160404|    null| null|      K|      O|   null|      M| 1970.0|10042016|     M|  null|     UA| 9.273432863E10|05616|      B1|
| 822613.0|2016.0|   4.0| 111.0|   111|    NYC|20549.0|    1.0|     10|20559.0|  40.0|    2.0|  1.0|20160405|    null| null|      O|      O|   null|      M| 1976.0|07032016|  null|  null|     SN|5.5665625733E10|00501|      WT|
| 822614.0|2016.0|   4.0| 111.0|   111|    NYC|20549.0|    1.0|     10|20559.0|   8.0|    2.0|  1.0|20160405|    null| null|      O|      O|   null|      M| 2008.0|07032016|  null|  null|     SN|5.5665624833E10|00501|      WT|
| 829275.0|2016.0|   4.0| 124.0|   135|    TAM|20549.0|    1.0|     20|20551.0|  53.0|    1.0|  1.0|20160405|    null| null|      O|      O|   null|      M| 1963.0|07032016|  null|  null|     UA|5.5649619833E10|00123|      WB|
|1826690.0|2016.0|   4.0| 209.0|   209|    DEN|20554.0|    1.0|      0|20560.0|  48.0|    1.0|  1.0|20160410|    null| null|      O|      Q|   null|      M| 1968.0|07082016|  null|  null|     UA|5.5925987433E10|00138|      WB|
|1984720.0|2016.0|   4.0| 115.0|   115|    BOS|20555.0|    1.0|     10|20556.0|  30.0|    1.0|  1.0|20160411|    null| null|      O|      R|   null|      M| 1986.0|07092016|  null|  null|     WW|5.6008400333E10|0125C|      WB|
|2001603.0|2016.0|   4.0| 135.0|   135|    WAS|20555.0|    1.0|     20|20557.0|  39.0|    1.0|  1.0|20160411|    null| null|      O|      Q|   null|      M| 1977.0|07092016|  null|  null|     UA|5.6017918033E10|01133|      WB|
|2001890.0|2016.0|   4.0| 135.0|   135|    NYC|20555.0|    1.0|      0|20559.0|  56.0|    1.0|  1.0|20160411|    null| null|      O|      O|   null|      M| 1960.0|07092016|  null|  null|     UA|5.5990796733E10|00879|      WB|
|2012377.0|2016.0|   4.0| 141.0|   141|    CHI|20555.0|    1.0|     63|20559.0|  37.0|    1.0|  1.0|20160411|    null| null|      O|      O|   null|      M| 1979.0|07092016|  null|  null|     UA|5.5997606633E10|00906|      WB|
|2157981.0|2016.0|   4.0| 115.0|   115|    BOS|20556.0|    1.0|     11|20557.0|  28.0|    1.0|  1.0|20160412|    null| null|      O|      R|   null|      M| 1988.0|10112016|  null|  null|     WW| 9.336128003E10|0125C|      B1|
|2181986.0|2016.0|   4.0| 148.0|   112|    CHI|20556.0|    1.0|      0|20565.0|  45.0|    1.0|  1.0|20160412|    null| null|      O|      O|   null|      M| 1971.0|07102016|  null|  null|     UA|5.6041863233E10|00906|      WB|
|4499251.0|2016.0|   4.0| 131.0|   131|    WAS|20568.0|    1.0|      0|20572.0|  44.0|    1.0|  1.0|20160424|    null| null|      O|      O|   null|      M| 1972.0|07222016|  null|  null|     UA|5.9184906033E10|00975|      WB|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
only showing top 20 rows

In [10]:
# Clean temperature data
df_clean_spark_temp=spark.read.format("csv").option("header", "true").load("../../data2/GlobalLandTemperaturesByCity.csv")
valid_i94_port_df=spark.read.format("csv").option("header", "true").load("valid_i94_port.csv")
valid_i94_port_df.show()

# Filter out entries with NaN average temperature
df_clean_spark_temp=df_clean_spark_temp.filter(df_clean_spark_temp.AverageTemperature != 'NaN')



#df_clean_spark_temp =df_clean_spark_temp[df_clean_spark_temp['City']=='Perth']
df_clean_spark_temp.show()

+-------+--------------------+-----+----+
|i94port|          valid_city|state| _c3|
+-------+--------------------+-----+----+
|    ALC|               ALCAN|  AK |null|
|    ANC|           ANCHORAGE|   AK|null|
|    BAR|BAKER AAF - BAKER...|   AK|null|
|    DAC|       DALTONS CACHE| AK  |null|
|    PIZ|DEW STATION PT LA...|   AK|null|
|    DTH|        DUTCH HARBOR|   AK|null|
|    EGL|               EAGLE|  AK |null|
|    FRB|           FAIRBANKS|   AK|null|
|    HOM|               HOMER|   AK|null|
|    HYD|               HYDER|  AK |null|
|    JUN|              JUNEAU|   AK|null|
|    5KE|           KETCHIKAN|   AK|null|
|    KET|           KETCHIKAN|   AK|null|
|    MOS|MOSES POINT INTER...|   AK|null|
|    NIK|             NIKISKI| AK  |null|
|    NOM|                 NOM|   AK|null|
|    PKC|         POKER CREEK|  AK |null|
|    ORI|      PORT LIONS SPB|   AK|null|
|    SKA|             SKAGWAY| AK  |null|
|    SNP|     ST. PAUL ISLAND|   AK|null|
+-------+--------------------+-----+----+
only showing top 20 rows

+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|        dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|              6.068|           1.7369999999999999|Ã…rhus|Denmark|  57.05N|   10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|Ã…rhus|Denmark|  57.05N|   10.33E|
|1744-05-01|             10.644|           1.2830000000000001|Ã…rhus|Denmark|  57.05N|   10.33E|
|1744-06-01| 14.050999999999998|                        1.347|Ã…rhus|Denmark|  57.05N|   10.33E|
|1744-07-01|             16.082|                        1.396|Ã…rhus|Denmark|  57.05N|   10.33E|
|1744-09-01| 12.780999999999999|                        1.454|Ã…rhus|Denmark|  57.05N|   10.33E|
|1744-10-01|               7.95|                         1.63|Ã…rhus|Denmark|  57.05N|   10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|Ã…rhus|Denmark|  57.05N|   10.33E|
|1744-12-01|0.12199999999999987|                        1.756|Ã…rhus|Denmark|  57.05N|   10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|Ã…rhus|Denmark|  57.05N|   10.33E|
|1745-02-01|             -2.732|                        1.358|Ã…rhus|Denmark|  57.05N|   10.33E|
|1745-03-01|              0.129|                        1.088|Ã…rhus|Denmark|  57.05N|   10.33E|
|1745-04-01|              4.042|                        1.138|Ã…rhus|Denmark|  57.05N|   10.33E|
|1750-01-01|              1.699|                        1.013|Ã…rhus|Denmark|  57.05N|   10.33E|
|1750-02-01| 3.9610000000000003|           2.3609999999999998|Ã…rhus|Denmark|  57.05N|   10.33E|
|1750-03-01|              5.182|                         3.48|Ã…rhus|Denmark|  57.05N|   10.33E|
|1750-04-01|              7.197|                        0.732|Ã…rhus|Denmark|  57.05N|   10.33E|
|1750-05-01|             10.634|                        1.351|Ã…rhus|Denmark|  57.05N|   10.33E|
|1750-06-01|             14.913|                        1.181|Ã…rhus|Denmark|  57.05N|   10.33E|
|1750-07-01|             17.831|                         1.22|Ã…rhus|Denmark|  57.05N|   10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows

In [11]:
# Add iport94 code based on city name

import pyspark.sql.functions as f
df_clean_spark_temp = df_clean_spark_temp.withColumn("City",f.lower(f.col("City")))
valid_i94_port_df = valid_i94_port_df.withColumn("valid_city",f.lower(f.col("valid_city")))

df_clean_spark_temp=df_clean_spark_temp.join(valid_i94_port_df,valid_i94_port_df.valid_city.contains(df_clean_spark_temp.City),how="inner")

# Show results
df_clean_spark_temp.show()

+----------+------------------+-----------------------------+--------+--------------+--------+---------+-------+----------+-----+----+
|        dt|AverageTemperature|AverageTemperatureUncertainty|    City|       Country|Latitude|Longitude|i94port|valid_city|state| _c3|
+----------+------------------+-----------------------------+--------+--------------+--------+---------+-------+----------+-----+----+
|1743-11-01|             8.758|                        1.886|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1744-04-01|6.0699999999999985|           2.9339999999999997|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1744-05-01|             7.751|                        1.494|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1744-06-01|             10.62|                        1.574|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1744-07-01|             12.35|                        1.591|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1744-09-01|            11.224|           1.6059999999999999|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1744-10-01|             8.945|           1.7309999999999999|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1744-11-01|             7.836|                        1.585|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1744-12-01|             5.263|                        1.871|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1745-01-01|             4.136|                        1.825|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1745-02-01|             2.436|           1.6769999999999998|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1745-03-01|              3.24|                        1.456|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1745-04-01|             4.819|                        1.429|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1750-01-01|             5.441|                        1.463|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1750-02-01|              7.31|                        2.474|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1750-03-01|             7.335|           3.0239999999999996|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1750-04-01|             6.604|                        1.308|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1750-05-01| 8.328000000000001|           1.5090000000000001|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1750-06-01|            10.803|                        1.393|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
|1750-07-01|            14.367|                          1.4|aberdeen|United Kingdom|  57.05N|    1.48W|    ABE|  aberdeen|  WA |null|
+----------+------------------+-----------------------------+--------+--------------+--------+---------+-------+----------+-----+----+
only showing top 20 rows

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [12]:
# Extract columns for immigration fact table
df_clean_spark_i94 = df_clean_spark_i94.select(["i94yr", "i94mon", "i94cit", "i94port", "arrdate", "i94mode", "depdate", "i94visa"])

# Write immigration fact table to parquet files partitioned by i94port
df_clean_spark_i94.write.mode("append").partitionBy("i94port").parquet("/home/workspace//results/immigration.parquet")

# Show dataframe
df_clean_spark_i94.show()

+------+------+------+-------+-------+-------+-------+-------+
| i94yr|i94mon|i94cit|i94port|arrdate|i94mode|depdate|i94visa|
+------+------+------+-------+-------+-------+-------+-------+
|2016.0|   4.0| 582.0|    HOU|20574.0|    1.0|20575.0|    2.0|
|2016.0|   4.0| 135.0|    ATL|20547.0|    1.0|20568.0|    2.0|
|2016.0|   4.0| 135.0|    SFR|20547.0|    1.0|20553.0|    1.0|
|2016.0|   4.0| 111.0|    CHI|20548.0|    1.0|20550.0|    1.0|
|2016.0|   4.0| 135.0|    WAS|20548.0|    1.0|20552.0|    1.0|
|2016.0|   4.0| 148.0|    ATL|20548.0|    1.0|20551.0|    1.0|
|2016.0|   4.0| 148.0|    CHI|20548.0|    1.0|20552.0|    1.0|
|2016.0|   4.0| 213.0|    NYC|20548.0|    1.0|20549.0|    2.0|
|2016.0|   4.0| 582.0|    HOU|20548.0|    1.0|20551.0|    1.0|
|2016.0|   4.0| 111.0|    NYC|20549.0|    1.0|20559.0|    2.0|
|2016.0|   4.0| 111.0|    NYC|20549.0|    1.0|20559.0|    2.0|
|2016.0|   4.0| 124.0|    TAM|20549.0|    1.0|20551.0|    1.0|
|2016.0|   4.0| 209.0|    DEN|20554.0|    1.0|20560.0|    1.0|
|2016.0|   4.0| 115.0|    BOS|20555.0|    1.0|20556.0|    1.0|
|2016.0|   4.0| 135.0|    WAS|20555.0|    1.0|20557.0|    1.0|
|2016.0|   4.0| 135.0|    NYC|20555.0|    1.0|20559.0|    1.0|
|2016.0|   4.0| 141.0|    CHI|20555.0|    1.0|20559.0|    1.0|
|2016.0|   4.0| 115.0|    BOS|20556.0|    1.0|20557.0|    1.0|
|2016.0|   4.0| 148.0|    CHI|20556.0|    1.0|20565.0|    1.0|
|2016.0|   4.0| 131.0|    WAS|20568.0|    1.0|20572.0|    1.0|
+------+------+------+-------+-------+-------+-------+-------+
only showing top 20 rows

In [13]:
# Create the dimension table 
df_clean_spark_temp = df_clean_spark_temp.select(["dt","AverageTemperature","City", "Country", "Latitude", "Longitude", "i94port"]).dropDuplicates()
#df_clean_spark_temp = df_clean_spark_temp.select(["AverageTemperature", "City", "Country", "Latitude", "Longitude","i94port"]).distinct()

# Write dimension table to parquet files
df_clean_spark_temp.write.parquet("/home/workspace//results/temperature.parquet")
# Dimension dataframe show
df_clean_spark_temp.show()

+----------+------------------+---------+--------------------+--------+---------+-------+
|        dt|AverageTemperature|     City|             Country|Latitude|Longitude|i94port|
+----------+------------------+---------+--------------------+--------+---------+-------+
|1758-08-01|            13.167| aberdeen|      United Kingdom|  57.05N|    1.48W|    ABE|
|1819-03-01|             5.155| aberdeen|      United Kingdom|  57.05N|    1.48W|    ABE|
|1823-12-01|             5.776| aberdeen|      United Kingdom|  57.05N|    1.48W|    ABE|
|1854-05-01| 8.229000000000001| aberdeen|      United Kingdom|  57.05N|    1.48W|    ABE|
|1862-07-01|            10.848| aberdeen|      United Kingdom|  57.05N|    1.48W|    ABE|
|1875-12-01|             5.728| aberdeen|      United Kingdom|  57.05N|    1.48W|    ABE|
|1886-04-01|             5.282| aberdeen|      United Kingdom|  57.05N|    1.48W|    ABE|
|1918-12-01|6.9849999999999985| aberdeen|      United Kingdom|  57.05N|    1.48W|    ABE|
|1931-07-01|             12.85| aberdeen|      United Kingdom|  57.05N|    1.48W|    ABE|
|1948-10-01|             9.467| aberdeen|      United Kingdom|  57.05N|    1.48W|    ABE|
|1949-05-01|             8.417| aberdeen|      United Kingdom|  57.05N|    1.48W|    ABE|
|1991-12-01|             6.919| aberdeen|      United Kingdom|  57.05N|    1.48W|    ABE|
|2004-09-01|            13.037| aberdeen|      United Kingdom|  57.05N|    1.48W|    ABE|
|2005-10-01|            11.856| aberdeen|      United Kingdom|  57.05N|    1.48W|    ABE|
|2009-02-01|             5.183| aberdeen|      United Kingdom|  57.05N|    1.48W|    ABE|
|1866-01-01|            18.392|abu dhabi|United Arab Emirates|  24.92N|   54.98E|    MAA|
|1869-06-01|            32.593|abu dhabi|United Arab Emirates|  24.92N|   54.98E|    MAA|
|1891-02-01|            19.058|abu dhabi|United Arab Emirates|  24.92N|   54.98E|    MAA|
|1907-06-01|             31.71|abu dhabi|United Arab Emirates|  24.92N|   54.98E|    MAA|
|1918-03-01|             21.41|abu dhabi|United Arab Emirates|  24.92N|   54.98E|    MAA|
+----------+------------------+---------+--------------------+--------+---------+-------+
only showing top 20 rows

In [14]:
#Create us-cities-demographics dimension table 
from pyspark.sql.functions import col
df_clean_us_cities_demo=spark.read.format("csv").option("header", "true").option("delimiter", ";").load("us-cities-demographics.csv")
df_clean_us_cities_demo = df_clean_us_cities_demo.select(col("City"),col("State"),col("Median Age").alias("Median_Age"), col("Male Population").alias("Male_Population"),
col("Female Population").alias("Female_Population"),
col("Total Population").alias("Total_Population"),
col("Number of Veterans").alias("Number_of_Veterans"),
col("Foreign-born"),
col("Average Household Size").alias("Average_Household_Size"),
col("State Code").alias("State_Code"),col("Race"),col("Count"))
df_clean_us_cities_demo.write.parquet("/home/workspace//results/city_demographics.parquet")

df_clean_us_cities_demo.show()

+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|            City|         State|Median_Age|Male_Population|Female_Population|Total_Population|Number_of_Veterans|Foreign-born|Average_Household_Size|State_Code|                Race| Count|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|   Silver Spring|      Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|  Hispanic or Latino| 25924|
|          Quincy| Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|               White| 58723|
|          Hoover|       Alabama|      38.5|          38040|            46799|           84839|              4819|        8229|                  2.58|        AL|               Asian|  4759|
|Rancho Cucamonga|    California|      34.5|          88127|            87105|          175232|              5821|       33878|                  3.18|        CA|Black or African-...| 24437|
|          Newark|    New Jersey|      34.6|         138040|           143873|          281913|              5829|       86253|                  2.73|        NJ|               White| 76402|
|          Peoria|      Illinois|      33.1|          56229|            62432|          118661|              6634|        7517|                   2.4|        IL|American Indian a...|  1343|
|        Avondale|       Arizona|      29.1|          38712|            41971|           80683|              4815|        8355|                  3.18|        AZ|Black or African-...| 11592|
|     West Covina|    California|      39.8|          51629|            56860|          108489|              3800|       37038|                  3.56|        CA|               Asian| 32716|
|        O'Fallon|      Missouri|      36.0|          41762|            43270|           85032|              5783|        3269|                  2.77|        MO|  Hispanic or Latino|  2583|
|      High Point|North Carolina|      35.5|          51751|            58077|          109828|              5204|       16315|                  2.65|        NC|               Asian| 11060|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|  Hispanic or Latino|  5822|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|American Indian a...|   998|
|    Philadelphia|  Pennsylvania|      34.1|         741270|           826172|         1567442|             61995|      205339|                  2.61|        PA|               Asian|122721|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|  Hispanic or Latino| 65162|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|American Indian a...|  8791|
|      Fort Myers|       Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|               White| 50169|
|      Pittsburgh|  Pennsylvania|      32.9|         149690|           154695|          304385|             17728|       28187|                  2.13|        PA|               White|208863|
|          Laredo|         Texas|      28.8|         124305|           131484|          255789|              4921|       68427|                  3.66|        TX|American Indian a...|  1253|
|        Berkeley|    California|      32.5|          60142|            60829|          120971|              3736|       25000|                  2.35|        CA|               Asian| 27089|
|     Santa Clara|    California|      35.2|          63278|            62938|          126216|              4426|       52281|                  2.75|        CA|               White| 55847|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
only showing top 20 rows

In [15]:
df_spark_fact=df_clean_spark_i94.join(df_clean_spark_temp,['i94port'],how='inner').distinct()

# Write immigration fact table to parquet files partitioned by i94port
df_spark_fact.write.mode("append").partitionBy("i94port").parquet("/home/workspace/results/result_fact.parquet")

# Show dataframe
df_spark_fact.show()

+-------+------+------+------+-------+-------+-------+-------+----------+-------------------+-------------+--------------+--------+---------+
|i94port| i94yr|i94mon|i94cit|arrdate|i94mode|depdate|i94visa|        dt| AverageTemperature|         City|       Country|Latitude|Longitude|
+-------+------+------+------+-------+-------+-------+-------+----------+-------------------+-------------+--------------+--------+---------+
|    HOU|2016.0|   4.0| 148.0|20552.0|    1.0|20558.0|    1.0|2007-09-01| 27.048000000000002|      houston| United States|  29.74N|   96.00W|
|    LOS|2016.0|   4.0| 148.0|20560.0|    1.0|20569.0|    2.0|1937-10-01|             12.348|  los angeles|         Chile|  37.78S|   73.22W|
|    LOS|2016.0|   4.0| 135.0|20558.0|    1.0|20566.0|    2.0|1870-09-01|             20.477|  los angeles| United States|  34.56N|  118.70W|
|    MIA|2016.0|   4.0| 131.0|20550.0|    1.0|20556.0|    2.0|1831-04-01| 23.028000000000002|        miami| United States|  26.52N|   80.60W|
|    MIA|2016.0|   4.0| 111.0|20559.0|    1.0|20561.0|    2.0|1928-07-01|             27.594|        miami| United States|  26.52N|   80.60W|
|    NYC|2016.0|   4.0| 373.0|20567.0|    1.0|20568.0|    2.0|1858-12-01|             -1.068|     new york| United States|  40.99N|   74.56W|
|    SFR|2016.0|   4.0| 135.0|20547.0|    1.0|20553.0|    1.0|1930-11-01|              12.34|san francisco| United States|  37.78N|  122.03W|
|    WAS|2016.0|   4.0| 135.0|20555.0|    1.0|20557.0|    1.0|1987-05-01|             18.265|   washington| United States|  39.38N|   76.99W|
|    NYC|2016.0|   4.0| 135.0|20551.0|    1.0|20563.0|    2.0|1751-09-01|             11.453|         york|United Kingdom|  53.84N|    1.36W|
|    NYC|2016.0|   4.0| 135.0|20550.0|    1.0|20551.0|    1.0|1985-09-01| 13.834000000000001|         york|United Kingdom|  53.84N|    1.36W|
|    BOS|2016.0|   4.0| 115.0|20559.0|    1.0|20561.0|    1.0|1778-11-01|0.40600000000000014|       boston| United States|  42.59N|   72.00W|
|    LVG|2016.0|   4.0| 135.0|20558.0|    1.0|20579.0|    1.0|1927-10-01|             18.294|    las vegas| United States|  36.17N|  115.36W|
|    LOS|2016.0|   4.0| 438.0|20552.0|    1.0|20572.0|    2.0|1954-04-01|             15.095|  los angeles| United States|  34.56N|  118.70W|
|    MIA|2016.0|   4.0| 504.0|20546.0|    1.0|20548.0|    2.0|1813-09-01|             27.612|        miami| United States|  26.52N|   80.60W|
|    NYC|2016.0|   4.0| 135.0|20550.0|    1.0|20551.0|    1.0|1907-06-01|             17.479|     new york| United States|  40.99N|   74.56W|
|    NYC|2016.0|   4.0| 135.0|20572.0|    1.0|20573.0|    2.0|1933-10-01| 10.392000000000001|     new york| United States|  40.99N|   74.56W|
|    WAS|2016.0|   4.0| 135.0|20567.0|    1.0|20572.0|    1.0|1921-05-01|             16.393|   washington| United States|  39.38N|   76.99W|
|    NYC|2016.0|   4.0| 135.0|20566.0|    1.0|20567.0|    1.0|1836-03-01|              5.224|         york|United Kingdom|  53.84N|    1.36W|
|    LOS|2016.0|   4.0| 135.0|20558.0|    1.0|20566.0|    1.0|1927-11-01|             25.967|      angeles|   Philippines|  15.27N|  120.83E|
|    ATL|2016.0|   4.0| 148.0|20548.0|    1.0|20551.0|    1.0|1833-04-01|             14.908|      atlanta| United States|  34.56N|   83.68W|
+-------+------+------+------+-------+-------+-------+-------+----------+-------------------+-------------+--------------+--------+---------+
only showing top 20 rows

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [16]:
# Perform quality checks here

result_df_spark_fact = df_spark_fact.count()
if result_df_spark_fact != 0:
    print("Data validation passed with {} with records for fact table".format(result_df_spark_fact))
else:
    print("Data validation failed for fact table")

result_df_clean_spark_i94 = df_clean_spark_i94.count()
if result_df_clean_spark_i94 != 0:
    print("Data validation passed with {}  records for i94 dimension table".format(result_df_clean_spark_i94))
else:
    print("Data quality failed  for i94 dimension table")

result_df_clean_spark_temp = df_clean_spark_temp.count()
if result_df_clean_spark_temp != 0:
    print("Data validation passed with {} records for temperature dimension table".format(result_df_clean_spark_temp))
else:
    print("Data validation failed for temperature dimension table")


result_df_clean_us_cities_demo = df_clean_us_cities_demo.count()
if result_df_clean_us_cities_demo != 0:
    print("Data validation passed with {} records for city dempgraphic dimension table".format(result_df_clean_us_cities_demo))
else:
    print("Data validation failed for city dempgraphic dimension table")

Data validation passed with 349057 with records for fact table
Data validation passed with 89  records for i94 dimension table
Data validation passed with 674065 records for temperature dimension table
Data validation passed with 2891 records for city dempgraphic dimension table

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

Document stores data model is used where data is stored in Parquet file format with partitions. This will help in storage/ maintenance and extraction of data in Spark by different users.  

The first dimension table will contain events from the I94 immigration data. The columns below will be extracted from the immigration dataframe:

* i94yr = 4 digit year
* i94mon = numeric month
* i94cit = 3 digit code of origin city
* i94port = 3 character code of destination city
* arrdate = arrival date
* i94mode = 1 digit travel code
* depdate = departure date
* i94visa = reason for immigration

The second dimension table will contain city temperature data. The columns below will be extracted from the temperature * dataframe:
* i94port = 3 character code of destination city (mapped from immigration data during cleanup step)
* AverageTemperature = average temperature
* City = city name
* Country = country name
* Latitude= latitude
* Longitude = longitude

The third dimension table will contain city demographic data. The columns below will be extracted from the us-city-demo * dataframe:
* City = city name
* State = State where city is residing
* Median_Age = Average age
* Male_Population = Count of Male population
* Female_Population = Count of Female population
* Total_Population = Count of Total population
* Number_of_Veterans = Number of Veterans
* Foreign-born = Count of Foreign born
* Average_Household_Size = Count of average household size
* State_Code = State Code
* Race = Race
* Count = Count of race in city


The fact table will contain information from the I94 immigration data joined with the city temperature data on i94port:

* i94port = 3 character code of destination city
* i94yr = 4 digit year
* i94mon = numeric month
* i94cit = 3 digit code of origin city
* i94port = 3 character code of destination city
* arrdate = arrival date
* i94mode = 1 digit travel code
* depdate = departure date
* i94visa = reason for immigration
* AverageTemperature = average temperature of destination city
* City = city name
* Country = country name
* Latitude= latitude
* Longitude = longitude

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
Spark was chosen since it can easily handle multiple file formats (including SAS/ Parquet) containing large amounts of data. PySpark  and Spark dataframes including join operations was chosen to process the large input files and performed slicing and dicing to form additional tables.
The final fact and dimension tables will be used by Data anlytics teams to generate reports and understand the traffic of immigrant movement in various cities
and also help in track of the immigration population. It helps in understand various factors like mode of transport, what kind of major visa types are used.
It also helps the analytics team to understand if temperature plays any
vital role in the cities where people are migrating too. 
As we understand that the data volumes are so huge for every week across all the ports, loading data using Python pandas take
huge time and loading this data into local memory and process will be of great challenge. Spark plays vital role in processing huge datasets.
As we can see in our project it clearly shows with Spark architecture loading time for Pandas is lesser than Spark.
When data increases this plays an important role.
We have used Pyspark to process data in Spark instead of Scala as development time, community support comes to a big advantage
using Pyspark.



* Propose how often the data should be updated and why.
The data should be updated daily on the arrival of passengers by getting data from all valid  every airports.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 Cleaning and uploading the files to cloud S3 buckets(by partitioning properly across clusters) and perform incremental updates by using  multiple cluster model in AWS EMR / design Hadoop map reduce can handle very huge datasets. 
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 If the data needs to populate a dashboard daily by 7AM then we can use a scheduling tool such as Airflow or KRON or LUIGI to run the ETL pipeline.
 * The database needed to be accessed by 100+ people.
 Access can be provided to HUE(Web based query execution tool) or provide an impala engine connection and can run queries using Python.